<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-landing-page></app-landing-page> -->
<header [ngClass]="{'basicHeader':true,'showHeader':show.header}" >
    <app-nav-bar></app-nav-bar>
    <div id="logoTitle">
        &lt;/&gt;ASPU
    </div>
    <div id="user">
        Welcome {{user.user}} !
    </div>
</header>
<div id="routerDiv" [@routerAnimation]="outletFunc(o)" [ngStyle]="{'overflow':show.header?'auto':'hidden'}">
    <router-outlet #o="outlet" ></router-outlet>
</div>