.basicHeader {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -100%;
    left: 0;
    right: 0;
    background:#333;
    transition: top 300ms;
    /* overflow: hidden; */
    color: #FFF;
    padding: 0 1rem;
}

#logoTitle {
    font-size: 1.5rem;
    font-weight: 800;
}

.showHeader {
    top: 0;
    z-index: 5;
    height: 3rem;
}

#routerDiv {
    border: 1px solid black;
    height: 100vh;
    /* height:  calc(100vh); */
}

