/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'ZCOOL XiaoWei', serif;
}

/* 
    font-family: 'ZCOOL XiaoWei', serif;
    font-family: 'PT Sans Narrow', sans-serif;
*/